<html>
    <head>
       <style>
		   .textbox
           {
              margin :10px;  
			           }
           .head
           {
               background-color: lightgray;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
           }
           .content
           {
               background-color: white;
               width:100%;
               text-align: center;
               font-size: 20px;
			   box-shadow:0px 0px 5px 0px gray;
		}
/*
		   .content1
           {
               background-color: white;
               width:100%;
               text-align: center;
               font-size: 20px;
			   box-shadow:0px 0px 5px 0px gray;
		}
*/
           h3{
               color:gray;
           }
		      .dropdown-menu {
        position: fixed;
        top: 20%;
        left: 0;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .custom-commuity-dropdown {
        border: 2px solid rgba(119, 159, 255, 0.56);
    }
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    ul {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    #image2
{
    height:30px;
    width:30px;
}
.list1,#list
{
    margin-left:200px;
    width:500px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
           .member
           {
               font-size:20px;
               margin-left:300px;
			   margin-top:100px;
           }
           input{
               height:100px;
               width:1000px;
           }
           #distitle
           {
               height:50px;
           }
    #insert{
margin-left:400;
font-size:30px;
}
    #commpic
{
    width:130px;
    height:130px;
    margin-left:250px;
    margin-top:20px;
    border:solid;
border-color:grey;
    box-shadow:0 0 10px black;
}

    .innerbtn1
{
    background-color:royalblue;
    border-color: royalblue;
    color:white;
    height:50px;
    width:100px;
}
#head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
    position:sticky;
}
           
            .outer
           {
               width:700px;
               margin-left:100px;
               border-color:darkgray;
            box-shadow: 0 0 5px darkgray;
               margin-top:0px;
           }
        
.vl {
  border-left: 1px solid lightgray;
  height: 300px;
  position: absolute;
  left: 40%;
  margin-left: -3px;
  top: 0;
    margin-top:250px;
}
           
           #image
           {
               width:50px;
               height:50px;
               border-color:black;
           }
           img
           {
               border-color: black;
           }
          #btn
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               height:40px;
               width:200px;
           }
           .button
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               width:100px;
           }
           
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
/*  padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
/*  display: block;*/
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
/*  margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
           	@media(max-width: 800px){
  		.mobile-responsive{
  			display: none;
  		}
  	}
           @media only screen and (max-width: 1024px){
    header{
        font-size: 18px;
    }
    .main{
        width: 80%;
        box-shadow: 0px 0px 6px;
    }
               .head{
        width: 100%;
    }
               .content{
                        width:100%;
               }
    /*input{
        font-size: 18px;
    }*/
    footer h5{
        font-size: 14px;
    }
}
#image1 {
    width: 150px;
    height: 150px;
    border-radius:70px;
    
}
        
        .innerhead
           {
               width:100%;
               background-color:royalblue;
               height:50px;
               color:white;
           }
.innerbtn
{
    background-color: royalblue;
    border-color:royalblue;
    height:35px;
    width:100px;
    color:white;
    margin-top:10px;
    float:right;
    margin-right:20px;
}
#join
{
    background-color: royalblue;
    border-color:royalblue;
    height:35px;
    width:100px;
    color:white;
    margin-top:17px;
    font-size:17px;
    float:center;
}
#tojoin
{
    margin-left: 300px;
}
        
#textbox{
    
      box-shadow:0 0 10px black;
}
        #create
        {
            width:100px;
           }</style>
        <title>MeetGreet</title>
    
</head>
      
 
      
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <body onload="sendreq()">
	<%if(user.toUser==1){
		%> <% include partials/tempheader %> <%
	}
	else{%><%include partials/headeruser %><%
	}%>
              
                 <div class="innerhead">
                 <a href="">  <img src="../../community.jpg"  id="commpic"></a>
               </div>
<br><br>
             <a id="insert" href=""></a>
                <div class="col-sm-2 col-xs-6 center-mobile" style="padding-top:10px;float:right">
                <div class="dropdown open">
                    <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button"
                        data-toggle="dropdown" aria-expanded="false" onclick="toggledisplay()">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px; display: none;"
                        id="dropdownmenu">

                        <li>
                            <a href=""
                                class="community-profile-option-btn" id="comm-discussion-option-but">
                                Discussions
                            </a>
                        </li>



                        <li>
                            <a href=""
                                class="community-profile-option-btn" id="comm-manage-option-but">
                                Manage Community
                            </a>
                        </li>


                        <li>
                            <a href=""
                                class="community-profile-option-btn" id="comm-profile-option-but">
                                Community Profile
                            </a>
                        </li>

                        <li>
                            <a href=""
                                class="community-profile-option-btn" id="comm-members-option-but">
                                Community Members
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <br><br>
        <center>
                <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
        </center>
        <div class="container">
        <div class="row">
        <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="" >Manage Community</a>
        </div>
        <div class="col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="" id="edit" >Edit Community</a>
		</div>
		</div>
		</div>
   <div class="container">
   	<div class="row">
   		<div class="col-12 col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
          <div class="content" style="box-shadow:0px 0px 5px 0px white">
   			<a href="#" id="users">Users</a><br>
   			<a href="#" id="requests">Requests</a><br>
   			<a href="#" id="managers">Managers(1)</a><br>
   			</div>
   	</div>
   	<div class="col-12 col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12">
          <div  class="content1"id="list">
   			</div>
   	</div>
   </div>
		</div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
       <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
     var curruser=[];
	  var currentuser;
		var url;
				var result=new Object();
        function    sendreq(){		
			currentuser=window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replace("-"," ");
			 var xhr=new XMLHttpRequest();
            xhr.open("GET",`/getphoto/${currentuser}`);
            xhr.send();
            xhr.onreadystatechange=function(){
                               if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=this.responseText;
                                   console.log(path);
                                   if(path){
									   path=path.slice(7,path.length);
                                 	 	path="../../"+path;
//									   document.getElementById("commpic").setAttribute("src",path);
//								   }
							 document.getElementById("imagee").setAttribute("src",path);
								if(document.getElementById("image1"))
                                   document.getElementById("image1").setAttribute("src",path);
                                   }
								   else
									   {
										 if(document.getElementById("image1"))
										 document.getElementById("image1").setAttribute("src","../../logo.jpg");
										    document.getElementById("imagee").setAttribute("src","../../logo.jpg");
									   }
                               }
            };
			 url = $(location).attr('href').split( '/' );
			document.getElementById("edit").setAttribute("href",`/editcommunity/${url[url.length-2]}/${currentuser}`);
			document.getElementById("comm-members-option-but").setAttribute("href",`/memberspage/${url[url.length-2]}/${currentuser}`);
			var xhttp=new XMLHttpRequest();
			xhttp.open("GET",`/getcommphoto/${url[url.length-2]}`);
			xhttp.send();
			xhttp.onreadystatechange=function(){
				if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=(this.responseText);
                                   console.log(path);
                                   if(path){
									   path=path.slice(7,path.length);
                                 	 	path="../../"+path;
									   document.getElementById("commpic").setAttribute("src",path);
								   }
			}
		};
		
		var xhr1=new XMLHttpRequest();
		xhr1.open("GET",`/comminfo/${url[url.length-2]}`);
		xhr1.send();
		xhr1.onload=function(){
			if(this.status==200){
				result=JSON.parse(this.responseText);
				console.log(result[0]);
				document.getElementById("insert").innerHTML=result[0].Name;
				document.getElementById("users").innerHTML+="("+(result[0].Members.length-1)+")";
				document.getElementById("requests").innerHTML+="("+(result[0].Requested.length)+")";
			}
		}
		}
		function toggledisplay() {
        var dropdown = document.getElementById("dropdownmenu");
        if(dropdown.style.display=="none")
        {
            dropdown.style.display = "inline";
        }
        else
        {
            dropdown.style.display = "none"
        }
    }
		document.getElementById("requests").onclick=function(){
			document.getElementById("list").innerHTML='';
			var li=document.createElement("h3");
			for(var i=0;i<result[0].Requested.length;i++){
				{
					var request=new XMLHttpRequest();
					request.open("GET",`/findById/${result[0].Requested[i]}`);
					request.send();
					request.onload=function(){
						if(this.status==200){
							var resulti=JSON.parse(this.responseText);
							{
								var  taga=document.createElement("p");
								var taga1=document.createElement("a");
										   taga.innerHTML="<hr style='width:100%'>";
                                           taga1.setAttribute('href',`/viewprofile/${resulti[0]._id}/${currentuser}`);
                                           taga1.setAttribute("id","own");
                                           var  img=document.createElement("img");
                                           img.setAttribute("src","../../logo.jpg");
                                           img.setAttribute("id","image2");
                                           if(resulti[0].final){
                                           var  path=resulti[0].final.path;
										   path=path.slice(7,path.length);
                                      
                                   			if(path){
												path="../../"+path
												img.setAttribute("src",path);
											}
                                           }
                                                taga1.appendChild(img);
                                          		taga1.innerHTML+="&nbsp;&nbsp;"+resulti[0].Name;
												taga.appendChild(taga1);
												taga.innerHTML+="&nbsp;&nbsp;&nbsp;&nbsp;<button class='btn btn-success' onclick=approverequest('"+resulti[0]._id+"')><i class='fas fa-check-circle'></i></button>";
												taga.innerHTML+="&nbsp;&nbsp;&nbsp;&nbsp;<button class='btn btn-danger' onclick=deleterequest('"+resulti[0]._id+"')><i class='fas fa-times-circle'></i></button>";
										    	taga.innerHTML+="<hr style='width:100%'>";
                                           		li.appendChild(taga);
//                                           li.innerHTML+="<br>";
										   		console.log(li.innerHTML);
                                                document.getElementById("list").appendChild(li);
                                        
							}
						}
					}
				}
			}
		}
		
		document.getElementById("users").onclick=function(){
			document.getElementById("list").innerHTML='';
			var li=document.createElement("h3");
			for(var i=0;i<result[0].Members.length;i++){
				{
					var request=new XMLHttpRequest();
					request.open("GET",`/findById/${result[0].Members[i]}`);
					request.send();
					request.onload=function(){
						if(this.status==200){
							var resulti=JSON.parse(this.responseText);
							if(resulti[0].Email!=result[0].Owner){
								var  taga=document.createElement("a");
										   taga.innerHTML="<hr style='width:100%'>";
                                           taga.setAttribute('href',`/viewprofile/${resulti[0]._id}/${currentuser}`);
                                           taga.setAttribute("id","own");
                                           var  img=document.createElement("img");
                                           img.setAttribute("src","../../logo.jpg");
                                           img.setAttribute("id","image2");
                                           if(resulti[0].final){
                                           var  path=resulti[0].final.path;
										   path=path.slice(7,path.length);
                                      
                                   			if(path){
												path="../../"+path
												img.setAttribute("src",path);
											}
                                           }
                                                taga.appendChild(img);
                                          taga.innerHTML+="&nbsp;&nbsp;"+resulti[0].Name;
										    taga.innerHTML+="<hr style='width:100%'>";
                                           li.appendChild(taga);
//                                           li.innerHTML+="<br>";
										   console.log(li.innerHTML);
                                                         document.getElementById("list").appendChild(li);
                                        
							}
						}
					}
				}
			}
		}
		
		document.getElementById("managers").onclick=function(){
			document.getElementById("list").innerHTML='';
			var li=document.createElement("h3");
			 var obj=new Object();
                 obj.Email=result[0].Owner;
					var request=new XMLHttpRequest();
					request.open("POST",'/findUser');
					request.setRequestHeader("content-type","application/json");
                    request.send(JSON.stringify(obj));
					request.onload=function(){
						if(this.status==200){
							var resulti=JSON.parse(this.responseText);
							{
								var  taga=document.createElement("a");
										   taga.innerHTML="<hr style='width:100%'>";
                                           taga.setAttribute('href',`/viewprofile/${resulti[0]._id}/${currentuser}`);
                                           taga.setAttribute("id","own");
                                           var  img=document.createElement("img");
                                           img.setAttribute("src","../../logo.jpg");
                                           img.setAttribute("id","image2");
                                           if(resulti[0].final){
                                           var  path=resulti[0].final.path;
										   path=path.slice(7,path.length);
                                      
                                   			if(path){
												path="../../"+path
												img.setAttribute("src",path);
											}
                                           }
                                                taga.appendChild(img);
                                          taga.innerHTML+="&nbsp;&nbsp;"+resulti[0].Name;
										    taga.innerHTML+="<hr style='width:100%'>";
                                           li.appendChild(taga);
//                                           li.innerHTML+="<br>";
										   console.log(li.innerHTML);
                                                         document.getElementById("list").appendChild(li);
                                        
							}
						}
					}
				
			}
		
		 function approverequest(id) {
        var requests = new XMLHttpRequest();
        requests.open('get',`/approverequest/${url[url.length-2]}/${id}` );
        requests.setRequestHeader("Content-Type", "Application/JSON")
        requests.send();
        requests.addEventListener('load', function () {
            if (requests.status === 200) {
                var results = (requests.responseText);
                console.log(results);
                window.location.href=`/managecommunity/${url[url.length-2]}/${currentuser}`;
            }
        });
    }
		 function deleterequest(id) {
        var requests = new XMLHttpRequest();
        requests.open('get',`/deleterequest/${url[url.length-2]}/${id}` );
        requests.setRequestHeader("Content-Type", "Application/JSON")
        requests.send();
        requests.addEventListener('load', function () {
            if (requests.status === 200) {
                var results = (requests.responseText);
                console.log(results);
              window.location.href=`/managecommunity/${url[url.length-2]}/${currentuser}`;
            }
        });
    }
    </script>
   
</html>