
  <html>
    <head>
       <style>

           h3{
               color:gray;
           }
    #image2
	{
    height:30px;
    width:30px;
}
		   
           textarea{
               width:100%;
           }
		   
		   #title{
			   height:50px;
		   }
           
    #insert{
margin-left:400;
font-size:30px;
}
    #commpic
{
    width:130px;
    height:130px;
    margin-left:250px;
    margin-top:20px;
    border:solid;
border-color:grey;
    box-shadow:0 0 10px black;
}

    .innerbtn1
{
    background-color:royalblue;
    border-color: royalblue;
    color:white;
    height:50px;
    width:100px;
}
#head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
    position:sticky;
}
           .main
           {
               width:80%;
               border-color: black;
               height:20px;
                height: 85vh;
               
    display: flex;
}
        
		.textbox
           {
			   height:50px;
			   width:93%;
		 }
           .head
           {
               background-color: lightgray;
               width:100%;
               text-align: center;
               height:40px;
               font-size: 25px;
           }
			 .head1
           {
               background-color:dodgerblue;
			   color:white;
               width:100%;
               height:40px;
               font-size: 25px;
           }
           .content
           {
               background-color: white;
               width:100%;
               text-align: center;
               height:35px;
               font-size: 20px;
		}
		.content1
           {
               background-color: lightsteelblue;
               width:100%;
               height:40px;
               font-size: 25px;
		}
		div{
			height:100px;
		}
            .outer
           {
               width:700px;
               margin-left:100px;
               border-color:darkgray;
            box-shadow: 0 0 5px darkgray;
               margin-top:0px;
           }
        
.vl {
  border-left: 1px solid lightgray;
  height: 300px;
  position: absolute;
  left: 40%;
  margin-left: -3px;
  top: 0;
	margin-top:250px;
		   }
           
          
           #image
           {
               width:50px;
               height:50px;
               border-color:black;
           }
           img
           {
               border-color: black;
           }
          #btn
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               height:40px;
               width:200px;
           }
           .button
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               width:100px;
           }
           
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
/*  padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: #818181;
/*  display: block;*/
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
/*  margin-left: 50px;*/
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
           	@media(max-width: 800px){
  		.mobile-responsive{
  			display: none;
  		}
  	}
           @media only screen and (max-width: 1024px){
    header{
        font-size: 18px;
    }
    .main{
        width: 80%;
        box-shadow: 0px 0px 6px;
    }
               .head{
        width: 100%;
    }
               .content{
                        width:100%;
               }
    /*input{
        font-size: 18px;
    }*/
    footer h5{
        font-size: 14px;
    }
}
#image1 {
    width: 150px;
    height: 150px;
    border-radius:70px;
    
}
        
        .innerhead
           {
               width:100%;
               background-color:royalblue;
               height:50px;
               color:white;
           }
.innerbtn
{
    background-color: royalblue;
    border-color:royalblue;
    height:35px;
    width:100px;
    color:white;
    margin-top:10px;
    float:right;
    margin-right:20px;
}
#join
{
    background-color: royalblue;
    border-color:royalblue;
    height:35px;
    width:100px;
    color:white;
    margin-top:17px;
    font-size:17px;
    float:center;
}
#tojoin
{
    margin-left: 300px;
}
        
#textbox{
    
      box-shadow:0 0 10px black;
}
        #create
        {
            width:100px;
           }</style>
        <title>MeetGreet</title>
    
</head>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <body onload="sendreq()">
	<%if(user.toUser==1){
		%> <% include partials/tempheader %> <%
	}
	else{%><%include partials/headeruser %><%
	}%>
              
     <div class="innerhead">
       <a href="">  <img src="../../community.jpg"  id="commpic"></a>
      </div>
<br><br>
             <a id="insert" href=""></a>
                 <hr width="1000px" size="100px">
                 <div class="container">
                 	<div class="row">
                 		<div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 			<div class="head" background-color="light-gray">ADD A DISCUSSION</div>
                 			<div class="content">
                 				<textarea style="margin-top:10px;box-sizing : border-box;" type="text" id="title" placeholder="Discussion Title"></textarea>
								<textarea style="margin-top:10px;box-sizing : border-box;" type="text" id="newdiscussion" placeholder="Start A Discussion"></textarea>
                 				<button style="margin-top:10px;float:right" id="hit" class="btn btn-primary pull-right">ADD</button>
                 			</div>
						</div>
                 	</div>
                 </div>
		 <br><br><br><br><br><br>
		 <div class="container" id="previousdiscs">
		</div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
       <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
    var curruser=[];
	var currentuser;
    var url;
	var result=new Object();
    function    sendreq(){		
			currentuser=window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replace("-"," ");
			 var xhr=new XMLHttpRequest();
            xhr.open("GET",`/getphoto/${currentuser}`);
            xhr.send();
            xhr.onreadystatechange=function(){
                               if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=this.responseText;
                                   console.log(path);
                                   if(path){
									   path=path.slice(7,path.length);
                                 	 	path="../../../"+path;
//									   document.getElementById("commpic").setAttribute("src",path);
//								   }
							 document.getElementById("imagee").setAttribute("src",path);
								if(document.getElementById("image1"))
                                   document.getElementById("image1").setAttribute("src",path);
                                   }
								   else
									   {
										 if(document.getElementById("image1"))
										 document.getElementById("image1").setAttribute("src","../../../logo.jpg");
										    document.getElementById("imagee").setAttribute("src","../../../logo.jpg");
									   }
                               }
            };
			 url = $(location).attr('href').split( '/' );

			var xhttp=new XMLHttpRequest();
			xhttp.open("GET",`/getcommphoto/${url[url.length-2]}`);
			xhttp.send();
			xhttp.onreadystatechange=function(){
				if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=(this.responseText);
                                   console.log(path);
                                   if(path){
									   path=path.slice(7,path.length);
                                 	 	path="../../../"+path;
									   document.getElementById("commpic").setAttribute("src",path);
								   }
			}
		};
		
		var xhr1=new XMLHttpRequest();
		xhr1.open("GET",`/comminfo/${url[url.length-2]}`);
		xhr1.send();
		xhr1.onload=function(){
			if(this.status==200){
				result=JSON.parse(this.responseText);
				console.log(result[0]);
				document.getElementById("insert").innerHTML=result[0].Name;
				if(result[0].Discussion)
				for(var i=0;i<result[0].Discussion.length;i++){
					
					var div=document.createElement("div");
					div.setAttribute("class","row");
					div.setAttribute("id",result[0].Discussion[i]._id);
					var coldiv=document.createElement("div");
					coldiv.setAttribute("class","col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12");
					var head=document.createElement("div");
					head.setAttribute("class","head1");
					head.innerHTML=result[0].Discussion[i].Title;
					coldiv.appendChild(head);
					var content=document.createElement("div");
					content.setAttribute("class","content1");
					content.innerHTML=result[0].Discussion[i].Desc;
					coldiv.appendChild(content);
					
					if(result[0].Discussion[i].Replies){
//						var lastreply=document.createElement("div");
//						var newobj=new Object();
//						var rep=result[0].Discussion[i].Replies;
//						newobj.replyby=rep[rep.length-1].BY;
//						newobj.text=rep[rep.length-1].Text;
//						var newxhr=new XMLHttpRequest();
//						newxhr.open("GET",`/findById/${newobj.replyby}`);
//						newxhr.send();
//						newxhr.onreadystatechange=function(){
//						 	if(this.readyState==4    &&  this.status==200)
//							{
//								var res=JSON.parse(this.responseText);
//								console.log(res);
//							}
//						};
//						coldiv.appendChild(lastreply);
					}
					
					var d=document.createElement("div");
					d.setAttribute("class","textbox");
					d.setAttribute("style","display:inline-block;vertical-align:top");
					var p=document.createElement("div");
					var reply=document.createElement("textarea");
					reply.setAttribute("placeholder","Add A Reply");
					p.setAttribute("style","display:inline-block;margin-top:7px");
					p.innerHTML="&nbsp;<button id='addbut' class='btn btn-primary'>Add</button>";
					d.appendChild(reply);
					coldiv.appendChild(d);
					coldiv.appendChild(p);
					div.appendChild(coldiv);
					console.log(div.id);
					document.getElementById("previousdiscs").appendChild(div);
					document.getElementById("previousdiscs").innerHTML+="<br><br><br><br>";
				}
			}
		}
		}
		
    $(document).on("click","#addbut",function(){
		var dis=$(this).parent().parent().parent();
		console.log(dis[0].id);
		var text=$(this).parent().parent();
		if(text[0].children[2].firstChild.value=="")
			alert("Replybox can't be empty");
		else{
		var replyy=new Object();
		replyy.by=currentuser;
		replyy.textt=text[0].children[2].firstChild.value;
		var send=new XMLHttpRequest();
			send.open("POST",`/addreply/${dis[0].id}/${url[url.length-2]}`);
			send.setRequestHeader("content-type","application/json");
			send.send(JSON.stringify(replyy));
			send.onreadystatechange=function(){
				if(this.readyState==4    &&  this.status==200){					
					window.location.href=`/commdiscussion/${url[url.length-2]}/${currentuser}}`;
				}
			};
		}
	});
		 
	$(document).on("click","#hit",function(){
		var title=document.getElementById("title").value;
		var disc=document.getElementById("newdiscussion").value;
		if(title=="" || disc=="")
			alert("Fill Title and Discussion box");
		else{
			var a=0;
			if(result[0].Discussion)
			for(var i=0;i<result[0].Discussion.length;i++){
				if(result[0].Discussion[i].Title==title){
					console.log(result[0].Discussion[i]._id);
					a=1;
					alert("Title already taken");
				}
			}
			if(a==0){
			var obj=new Object();
			obj.Title=title;
			obj.Discussion=disc;
			obj.By=currentuser;
			var xhr=new XMLHttpRequest();
			xhr.open("POST",`/addNewDiscussion/${url[url.length-2]}`);
			xhr.setRequestHeader("content-type","application/json");
			xhr.send(JSON.stringify(obj));
			xhr.onreadystatechange=function(){
				if(this.readyState==4    &&  this.status==200)
				{
					window.location.href=`/commdiscussion/${url[url.length-2]}/${currentuser}}`;
				}
			};
		}
		}
	});
    </script>
   
</html>