<html>
   <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=yes">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
               <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
-->
    <head>
		
       <style>
		  .main {
        margin-left: 50px;
        margin-top: 60px;
        margin-right: 50px;
        transition: .5s;
        background-color: rgb(240, 240, 240);
    }
    .community-header-top {
        background-color: rgb(72, 187, 223);
    }
    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
    }
    .col-sm-12,
    .col-sm-5 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
    }
    .col-sm-push-4 {
        left: 34%
    }
    .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px
}
.checkbox-inline,
.radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer
}
    .community-sub-head {
    }
    .community-head-btn {
        border-style: solid;
        border-width: 3px !important;
        border-color: white !important;
        color: white;
    }
    .content-container {
        display: grid;
        grid-template-columns: 1.5fr 3fr 1.5fr;
    }
        </style>
        <title>MeetGreet</title>
    </head> 
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
       <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <body onload="sendreq()">
	<%if(user.toUser==1){
		%> <% include partials/tempheader %> <%
	}
	else{%><%include partials/headeruser %><%
	}%>
   

        <div class="community-header-top" style="height:50px;padding-top:6px;">
            <div class="col-sm-12 community-sub-head">
                <a id="mycomms" class="btn community-head-btn active" href="/community/communitypanel">
                    <i class="fa fa-users"></i>
                </a>
                <a id="searchcomms" class="btn community-head-btn" style="margin-left:10px" href="/community/list">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
        <div class="main" id="main">
        <div class="content-container">
            <div style="background-color: rgb(240, 240, 240)"></div>
            <div class="contentwindow">
                <div class="form-horizontal col-sm-6 col-md-6 col-lg-6">
                    <h3 class="page-header" style="color:#707070;font-size: 24px;">Edit Community</h3>
                    <form id="updatee" action="/EditCommunity" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                        	<img src="../../community.jpg" id="commimg" style="width:150px;height:150px">
                        </div>
                        <div class="form-group">
                                <div class="col-xs-4 col-sm-3">
                                  <span class="btn btn-warning" onclick="$('#file').click()">Change</span>
                                </div>
                        </div>
                        <div class="form-group" style="display:none">
                                <input type="file" id="file" name="community-" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label  style="color:#707070;font-size: 20px" class="page-header">Name</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" required id="commname" name="communityName" placeholder="Name"
                                maxlength="70">
                        </div>
                        <div class="form-group">
                            <label  style="color:#707070;font-size: 20px" class="page-header">Description</label>
                        </div>
                        <div class="content-description">
                                <textarea id="commdesc" type="text" class="form-control" style="height: 200px;" name="description"></textarea>
                                <br>
                                <div class="form-group ">
                                        <select id="commrule" name="communityMembershipRule" style="color:#707070">
                                        <option value="Direct" name="communityMembershipRule">Direct</option> 
            							<option value="Permission" name="communityMembershipRule">Permission</option> 
            							</select>
<!--
                                        <input class="radio radio-inline" type="radio" value="Direct" name="communityMembershipRule"> Direct
                                        <input class="radio radio-inline" type="radio" checked="" value="Permission" name="communityMembershipRule"> Permission
-->
                                </div>
                                <div class="form-group">
                            <label  style="color:#707070;font-size: 20px" class="page-header" id="warning"></label>
                        </div>
                        </div>
                         
                       
                        <div class="form-group">
                                <input class="form-control btn btn-primary" type="submit" value="Update Community">
                        </div>
                        <br>
                    </form>
                </div>
            </div>
            <div style="background-color: rgb(240, 240, 240)"></div>
        </div>
		</div>
    </body>
    
    <script>
        var curruser=[];
	  var currentuser;
		var table="1";
		var url;
        function    sendreq(){		
			currentuser=window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replace("-"," ");
			document.getElementById("mycomms").setAttribute("href",`/commpanel/${currentuser}`);
			document.getElementById("searchcomms").setAttribute("href",`/searchcomms/${currentuser}`);
			
			
			 url = $(location).attr('href').split( '/' );
			document.getElementById("updatee").setAttribute("action",`/EditCommunity/${url[url.length-2]}`);
			 var xhr=new XMLHttpRequest();
            xhr.open("GET",`/getphoto/${currentuser}`);
            xhr.send();
            xhr.onreadystatechange=function(){
                               if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=this.responseText;
                                path=   path.slice(7,path.length);
                                   console.log(path);
                                   if(path){
									  
                                 								   path="../../"+path;
 							document.getElementById("imagee").setAttribute("src",path);
								if(document.getElementById("image1"))
                                   document.getElementById("image1").setAttribute("src",path);
                                   }
								   else
									   {
										 if(document.getElementById("image1"))
										 document.getElementById("image1").setAttribute("src","../../logo.jpg");
										    document.getElementById("imagee").setAttribute("src","../../logo.jpg");
									   }
                               }
            };
					var xhr1=new XMLHttpRequest();
		xhr1.open("GET",`/comminfo/${url[url.length-2]}`);
		xhr1.send();
		xhr1.onload=function(){
			if(this.status==200){
				result=JSON.parse(this.responseText);
				console.log(result[0]);
				document.getElementById("commname").setAttribute("value",result[0].Name);
				document.getElementById("commdesc").setAttribute("value",result[0].Description);				document.getElementById("commdesc").innerHTML=result[0].Description;

				
				if(result[0].final)
				document.getElementById("commimg").setAttribute("src","../../"+(result[0].final.path.slice(7,result[0].final.path.length)));
								console.log(document.getElementById("commrule").children);
								document.getElementById("commrule").value=result[0].Rule;
//				if(result[0].Rule=="Permission"){
//					document.getElementById("commrule").childNodes[1].setAttribute("selected","true");
//				}
//				else
//					document.getElementById("commrule").firstChild.setAttribute("selected","true");
//					lastChild.setAttribute("selected","true");
				console.log(document.getElementById("commrule").value);
				if(result[0].Requested.length>0){
					//document.getElementById("commrule").setAttribute("value","First clear all the requests.");					
					document.getElementById("warning").innerHTML="To change rules, first clear all the requests.";
//					document.getElementById("commrule").innerHTML="To change rule, first clear all the requests.";
					document.getElementById("commrule").setAttribute("style","visibility:hidden");
//					document.getElementById("commrule").setAttribute("disabled","true");
					
				}
//				else if(result[0].Rule=="Direct")
//					document.getElementById("commrule").s;
//				
			}
			}
		}		  
		
	
    </script>

</html>