<html>
    <head>
      <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=yes">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
       <style>
#head
{
    font-weight: bold;
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px;
    width:100%;
    position:sticky;
}
           .main
           {
               width:100%;
               border-color: black;
                height: 100%;
               box-shadow: 0 0 15px;
               justify-content: center;
               align-content: center;
    			display: flex;
				margin-top: 15px;
			}
        .textbox
           {
              margin :10px;  
           }
           .head
           {
               background-color: lightgray;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
               width:500px;
           }
           .content
           {
               background-color: white;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
               width:500px;
           }
           #boxes
           {
               width:1000px;
           }
           #image
           {
               width:50px;
               height:50px;
               border-color:black;
           }
           img
           {
               border-color: black;
           }
          #btn
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               height:40px;
               width:200px;
           }
           #submit
           {
               background-color: green;
               color:white;
               border-color: green;
               height:7%;
               width:30%;
           }
           .button
           {
               background-color: darkblue;
               color:white;
               border-color: darkblue;
               width:100px;
           }
 

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
           	@media(max-width: 800px){
  		.mobile-responsive{
  			display: none;
  		}
  	}
           @media only screen and (max-width: 1024px){
    header{
        font-size: 18px;
    }
    .main{
        width: 100%;
		height:100%;
		justify-content:none;
		align-content:none;
    }
       
}
           input
           {
               width:90%;
           }
        </style>
        <title>MeetGreet</title>
    </head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
   
    <body onload="sendreq()">
              <%if (user.Role=='Superadmin' && user.toUser==0 )
		{%> <% include partials/header %> <%
	}
	else if(user.toUser==1){
		%> <% include partials/tempheader %> <%
	}
	else{%><%include partials/headeruser %><%
	}%>
               <center>
               <div class="main">
               <p id="main"></p>
               </div>
        </center>
              
    </body>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    
        var currentuser;
        function    sendreq(){			currentuser=window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replace("-"," ")
			console.log(currentuser);
			 var xhr=new XMLHttpRequest();
            xhr.open("GET",`/getphoto/${currentuser}`);
            xhr.send();
            xhr.onreadystatechange=function(){
                               if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=this.responseText;
                                path=   path.slice(7,path.length);
                                   console.log(path);
                                   if(path){
									  								   path="../"+path;

                                  document.getElementById("imagee").setAttribute("src",path);
								if(document.getElementById("image1"))
                                   document.getElementById("image1").setAttribute("src",path);
                                   }   
								   else
									   {
										 if(document.getElementById("image1"))
										 document.getElementById("image1").setAttribute("src","../logo.jpg");
										    document.getElementById("imagee").setAttribute("src","../logo.jpg");
									   }
                               }
                
            };
       
            var div=document.getElementById("main");
            var h1=document.createElement("h1");
            div.innerHTML+="<br>";
            h1.innerHTML="Change Password";
            div.appendChild(h1);
            div.innerHTML+="<br>";
             var h4=document.createElement("h4");
            h4.innerHTML="Old Password : ";
            var h41=document.createElement("h4");
            h41.innerHTML="New Password : ";
            var inp1=document.createElement("input");
            inp1.setAttribute("id","old");
            inp1.setAttribute("type","password");
            inp1.setAttribute("width","500px");
              var inp2=document.createElement("input");
            inp2.setAttribute("id","new");
            inp2.setAttribute("type","password");
            inp2.setAttribute("width","500px");
            div.appendChild(h4);
                        div.innerHTML+="<br>";
            div.appendChild(inp1);
            div.innerHTML+="<br>";
             div.appendChild(h41);          
            div.innerHTML+="<br>";
            div.appendChild(inp2);          
            div.innerHTML+="<br>";
            var submit=document.createElement("button");
            submit.setAttribute("id","submit");
            submit.innerHTML="SUBMIT";
            div.innerHTML+="<br>";
            div.appendChild(submit);
        
        
        document.getElementById("submit").onclick=function()
        {
            var old=document.getElementById("old").value;
            var newp=document.getElementById("new").value;
            if(old==newp)
                alert("New must not be as previous");
            else{
                var xhttp=new XMLHttpRequest();
                xhttp.open("GET",`/findById/${currentuser}`);
                xhttp.send();
                xhttp.onreadystatechange=function(){
                  if(this.readyState==4 &&  this.status==200)
                      {
                          user=JSON.parse(this.responseText);
                          if(user.Password!=old)
                              alert("Wrong Old Password");
                          else
                              {
                                  var   obj=new Object();
                                  obj.Email=user.Email;
                                  obj.Password=old;
                                  obj.newPassword=newp;
                                  var   xhr=new XMLHttpRequest();
                                  xhr.open("PUT",'/password');
                                  xhr.setRequestHeader("content-type","application/json");
                                  xhr.send(JSON.stringify(obj));
                                  xhr.onreadystatechange=function(){
                                    if(this.status==200 &&  this.readyState==4)
                                        {
                                            if(this.responseText=="UPDATED")
                                            alert("Password Updated");
                                            else
                                                alert("Error");
                                        }
                                  };
                              }
                      }
                };
            }
               
        }
        }
    </script>
</html>
