<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=yes">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
	Admin Portal
	</title>
	<style>
		 .container
           {
               width:80%;
               border-color: black;
               height:20px;
                height: 85vh;
               box-shadow: 0 0 15px;
			   position:relative;
				margin-top: 15px;
			}
		
		.textbox
           {
              margin :10px;  
			           }
           .head
           {
               background-color: lightgray;
               width:100%;
               text-align: center;
               height:30px;
               font-size: 25px;
           }
           .content
           {
               background-color: white;
               width:100%;
               text-align: center;
               height:35px;
               font-size: 25px;
		}
		div{
			height:100px;
		}
		.main
           {
              	width:80%;
              	 border-color: black;
              	 height:20px;
               	 height: 85vh;
              	 box-shadow: 0 0 15px;
              	 justify-content: center;
              	 align-content: center;
                 align-items: center;
   				 display: flex;
				 margin-top: 15px;
			}
		
           #image
           {
               width:50px;
               height:50px;
               border-color:black;
           }
           img
           {
               border-color: black;
           }
		  @media only screen and (max-width: 1024px){
    header{
        font-size: 18px;
    }
    .container{
        width: 80%;
        box-shadow: 0px 0px 0px;
    }
               .head{
        width: 100%;
    }
               .content{
                        width:100%;
				   			   overflow:auto;

               }
			  img
           {
               border-color: black;
           }
    /*input{
        font-size: 18px;
    }*/
    footer h5{
        font-size: 14px;
    }
}
		</style>
	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
   
	<body onload="sendreq()">
	<%if (user.Role=='Superadmin' && user.toUser==0 )
		{%> <% include partials/header %> <%
	}
	else if(user.toUser==1){
		%> <% include partials/tempheader %> <%
	}
	else{%><%include partials/headeruser %><%
	}%>
	<center>
      <div class="container">
       <div class="row">
       	<div class="col-12">
       		 <img src="logo.jpg" height="100px" width="100px" border-color="darkblue" id="image1"  border-radius="70px">
       	</div>
		</div>
<!--		<div class="w-100"></div>-->
       	<div class="row">
       		<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Email</p></div>
                <div class="content"><p id="email"></p></div>
				</div>
      	</div>
      	<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Gender</p></div>
                <div class="content"><p id="gender"></p></div>
				</div>
      	</div>
<!--		   <div class="w-100"></div>-->
<!--      	<div class="row">-->
       		<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Name</p></div>
                <div class="content"><p id="name"></p></div>
				</div>
      	</div>
      	<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>City</p></div>
                <div class="content"><p id="city"></p></div>
				</div>
      	</div>
<!--       	</div>-->
<!--       	<div class="row">-->
<!--      		<div class="w-100"></div>-->
       		<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>D.O.B.</p></div>
                <div class="content"><p id="dob"></p></div>
				</div>
      	</div>
      	<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Phone</p></div>
                <div class="content"><p id="phone"></p></div>
				</div>
      	</div>
<!--
       </div>
       <div class="row">
-->
       		<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Status</p></div>
                <div class="content"><p id="status"></p></div>
				</div>
      	</div>
      	<div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="textbox">
                <div class="head"><p>Role</p></div>
                <div class="content"><p id="role"></p></div>
				</div>
      	</div>
        </div>
		</div>
        </center>
	</body>
	   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
	   var xhttp=new XMLHttpRequest();
         var user;
        var curruser=[];
	  var currentuser;
        function    sendreq(){			currentuser=window.location.href.substring(window.location.href.lastIndexOf('/') + 1).replace("-"," ")
			console.log(currentuser);
			 var xhr=new XMLHttpRequest();
            xhr.open("GET",`/getphoto/${currentuser}`);
            xhr.send();
            xhr.onreadystatechange=function(){
                               if (this.readyState == 4 && this.status == 200) {
                                   console.log((this.responseText));
                                   var  path=this.responseText;
                                path=   path.slice(7,path.length);
                                   console.log(path);
								   if(path){
								   path="../"+path;
                                   
									  
                                  document.getElementById("imagee").setAttribute("src",path);
								if(document.getElementById("image1"))
                                   document.getElementById("image1").setAttribute("src",path);
                                   } 
								   else
									   {
										 if(document.getElementById("image1"))
										 document.getElementById("image1").setAttribute("src","../logo.jpg");
										    document.getElementById("imagee").setAttribute("src","../logo.jpg");
									   }
                               }
                
            };
        xhttp.open("GET",`/findById/${currentuser}`);
        xhttp.send();
    xhttp.onreadystatechange=function()
            {
                 if (this.readyState == 4 && this.status == 200) {
					 console.log(this.responseText);
                     curruser=JSON.parse(this.responseText);
                     
                      document.getElementById("name").innerHTML=curruser[0].Name;
                    document.getElementById("dob").innerHTML=curruser[0].DOB;
                     document.getElementById("phone").innerHTML=curruser[0].Phone;
                     document.getElementById("email").innerHTML=curruser[0].Email;
                     document.getElementById("city").innerHTML=curruser[0].City;
                     document.getElementById("gender").innerHTML=curruser[0].Gender;
                      document.getElementById("role").innerHTML=curruser[0].Role;
                     document.getElementById("status").innerHTML=curruser[0].Status;
                                 }
            };
            }
         
        </script>
</html>